<div class="h5">{{ title|raw }}</div>
<p class="font-weight-bold">{{ description|raw }}</p>
<ol class="m-0">
    {% for guid in guids %}
        <li{% if not loop.last %} class="pb-4"{% endif %}>
            {% if loop.first %}
                <div class="d-flex justify-content-between flex-column flex-md-row">
                    {{ guid|raw }}
                    {{ plugin_download|raw }}
                </div>
            {% else %}
                {{ guid|raw }}
            {% endif %}
        </li>
    {% endfor %}
</ol>

